.outline-gray-button1-container {
  display: flex;
  position: relative;
}
.outline-gray-button1-button {
  color: #ffffff;
  outlinr: none;
  font-style: normal;
  transition: all .15s ease-in;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-color: var(--dl-color-secondary-200);
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-space-space-unitandahalfunit);
  letter-spacing: -0.025rem;
  padding-bottom: var(--dl-space-space-triplequarterunit);
  background-color: #2b2b2b;
}

.home-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
.home-hero {
  width: 100%;
  height: 702px;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: flex-start;
}
.home-video {
  top: 0px;
  right: 0px;
  width: 100%;
  filter: opacity(0.6);
  height: 100%;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.home-navbar {
  display: flex;
  z-index: 1000;
  position: relative;
  flex-wrap: wrap;
  max-width: var(--dl-size-size-maxwidth);
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
}
.home-branding {
  width: 141px;
  height: 78px;
  object-fit: cover;
}
.home-burger-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-hamburger {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
  background-color: #98c8ff;
  -webkit-tap-highlight-color: transparent;
}
.home-hamburger:hover {
  opacity: .5;
}
.home-icon {
  width: 60px;
  object-fit: cover;
}
.home-mobile-menu {
  top: 0px;
  color: var(--dl-color-gray-white);
  right: -3px;
  width: 317px;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  backdrop-filter: blur(20px);
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.64);
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  padding-right: 725px;
  justify-content: space-between;
}
.home-image {
  height: 2rem;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon01 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-navlink {
  color: #aae2ff;
  font-size: 30px;
  font-style: normal;
  font-family: Lato;
  font-weight: 700;
  line-height: 1;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-navlink01 {
  font-size: 30px;
  font-style: normal;
  font-family: Lato;
  font-weight: 700;
  line-height: 1;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-navlink02 {
  font-size: 30px;
  font-style: normal;
  font-family: Lato;
  font-weight: 700;
  line-height: 1;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-navlink03 {
  font-size: 30px;
  font-style: normal;
  font-family: Lato;
  font-weight: 700;
  line-height: 1;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-navlink04 {
  font-size: 30px;
  font-style: normal;
  font-family: Lato;
  font-weight: 700;
  line-height: 1;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-navlink05 {
  font-size: 30px;
  font-style: normal;
  font-family: Lato;
  font-weight: 700;
  line-height: 1;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-navlink06 {
  font-size: 30px;
  font-style: normal;
  font-family: Lato;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-navlink07 {
  font-size: 30px;
  font-style: normal;
  font-family: Lato;
  font-weight: 700;
  line-height: 1;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-hero-content {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-right: 61px;
  flex-direction: column;
  justify-content: center;
}
.home-header-container {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 386px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text04 {
  color: #ffffff;
  font-size: 100px;
  font-style: normal;
  font-family: Noto Sans;
  font-weight: 400;
}
.home-caption {
  color: rgb(255, 255, 255);
  font-size: 30px;
  max-width: 600px;
  line-height: 36px;
}
.home-navlink08 {
  align-self: flex-start;
  text-decoration: none;
  background-color: #94b6ff;
  -webkit-tap-highlight-color: transparent;
}
.home-note {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-end;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: flex-start;
}
.home-caption1 {
  color: rgb(124, 124, 128);
  font-size: 40px;
  max-width: 800px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  margin-right: 158px;
}
.home-get-started {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.home-header-container1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  z-index: 100;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-header1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-heading {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
}
.home-caption2 {
  color: rgb(124, 124, 128);
  font-size: 24px;
  max-width: 600px;
  line-height: 36px;
}
.home-button {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}
.home-image1 {
  top: 0px;
  right: 0px;
  width: 720px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.home-objectives {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  justify-content: space-between;
}
.home-content {
  flex: 1;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  border-color: #313133;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  border-top-width: 1px;
}
.home-objectives-list {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: flex-start;
}
.home-text10 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.home-text11 {
  color: rgb(124, 124, 128);
  line-height: 24px;
}
.home-text12 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.home-text13 {
  color: rgb(124, 124, 128);
  line-height: 24px;
}
.home-text14 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.home-text15 {
  color: rgb(124, 124, 128);
  line-height: 24px;
}
.home-growth {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.home-image2 {
  width: 640px;
  z-index: 100;
  object-fit: cover;
  margin-right: 126px;
}
.home-content1 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-header2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 381px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-header3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading1 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
}
.home-caption3 {
  color: rgb(124, 124, 128);
  width: 100%;
  font-size: 24px;
  max-width: 560px;
  line-height: 36px;
}
.home-images {
  flex: 1;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
  align-items: flex-end;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: flex-start;
}
.home-growth1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.home-content2 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-header4 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-header5 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading2 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
}
.home-caption4 {
  color: rgb(124, 124, 128);
  width: 100%;
  font-size: 24px;
  max-width: 560px;
  line-height: 36px;
}
.home-caption5 {
  color: rgb(124, 124, 128);
  width: 100%;
  font-size: 24px;
  max-width: 560px;
  line-height: 36px;
  border-color: #313133;
  padding-bottom: var(--dl-space-space-threeunits);
  border-bottom-width: 1px;
}
.home-images1 {
  flex: 1;
  display: flex;
  position: relative;
  align-items: flex-end;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: flex-start;
}
.home-image3 {
  width: 640px;
  z-index: 100;
  margin-top: var(--dl-space-space-sixunits);
  object-fit: cover;
}
.home-experience {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-end;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.home-images2 {
  flex: 1;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-end;
}
.home-square {
  left: -35px;
  width: 180px;
  bottom: -35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  aspect-ratio: 1;
  flex-direction: row;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("public/8b2a5b8c4339cf45660dbbf5a17ea5c9-200h.png");
}
.home-image4 {
  width: 575px;
  z-index: 100;
  object-fit: cover;
}
.home-content3 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-header6 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #313133;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
  border-bottom-width: 1px;
}
.home-header-container2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-header7 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading3 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
}
.home-checkmarks {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-check {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-mark {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #0000F5;
}
.home-icon03 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.home-text20 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.home-check1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-mark1 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #0000F5;
}
.home-icon05 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.home-text21 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.home-check2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-mark2 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #0000F5;
}
.home-icon07 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.home-text22 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.home-check3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-mark3 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #0000F5;
}
.home-icon09 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.home-text23 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.home-container2 {
  flex: 1;
  width: 100%;
  margin: var(--dl-space-space-unit9);
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: flex-start;
}
.home-card {
  flex: 1;
  width: 255px;
  display: flex;
  padding: var(--dl-space-space-unitandahalfunit);
  position: relative;
  align-items: flex-start;
  margin-left: 45px;
  margin-right: 45px;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
  background-size: cover;
  background-image: url('https://butwhytho.net/wp-content/uploads/2023/04/Oshi-no-Ko-Ep-1%E2%80%94-But-Why-Tho.jpg?ezimgfmt=ng:webp/ngcb1');
  -webkit-tap-highlight-color: transparent;
}
.home-container3 {
  display: flex;
  z-index: 2;
  align-items: flex-start;
  flex-direction: column;
}
.home-text24 {
  color: #000000;
  margin-top: var(--dl-space-space-halfunit8);
  margin-bottom: var(--dl-space-space-halfunit8);
}
.home-container4 {
  display: flex;
  position: relative;
}
.home-navlink09 {
  display: contents;
}
.home-component {
  text-decoration: none;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-content4 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  border-color: #313133;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  border-top-width: 1px;
}
.home-main {
  gap: 240px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-branding1 {
  gap: var(--dl-space-space-twounits);
  width: 400px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-image5 {
  width: 120px;
  object-fit: cover;
}
.home-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-text25 {
  color: #7C7C80;
  font-size: 14px;
  line-height: 21px;
}
@media(max-width: 1600px) {
  .home-mobile-menu {
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-navlink {
    color: #ffb0b0;
    font-style: normal;
    font-family: Lato;
    font-weight: 700;
    line-height: 1;
  }
  .home-navlink01 {
    font-style: normal;
    font-family: Lato;
    font-weight: 700;
    line-height: 1;
  }
  .home-navlink02 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 700;
  }
  .home-navlink03 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 700;
    line-height: 1;
  }
  .home-navlink04 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 700;
    line-height: 1;
  }
  .home-navlink05 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 700;
    line-height: 1;
  }
  .home-navlink06 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 700;
    line-height: 1;
  }
  .home-navlink07 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 700;
    line-height: 1;
  }
  .home-image2 {
    margin-top: 0px;
  }
  .home-caption3 {
    color: rgb(124, 124, 128);
    font-size: 24px;
    line-height: 36px;
  }
  .home-images {
    height: 397px;
    padding-top: 0px;
  }
}
@media(max-width: 1200px) {
  .home-navlink {
    color: #a7fffc;
    font-style: normal;
    font-family: Lato;
    font-weight: 700;
    line-height: 1;
  }
  .home-navlink01 {
    font-style: normal;
    font-family: Lato;
    font-weight: 700;
    line-height: 1;
  }
  .home-navlink02 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 700;
    line-height: 1;
  }
  .home-navlink03 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 700;
    line-height: 1;
  }
  .home-navlink04 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 700;
    line-height: 1;
  }
  .home-navlink05 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .home-navlink06 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 700;
    line-height: 1;
  }
  .home-navlink07 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 700;
    line-height: 1;
  }
  .home-text04 {
    color: #ffffff;
    font-size: 100px;
    font-style: normal;
    font-family: Noto Sans;
    font-weight: 400;
  }
  .home-caption3 {
    color: rgb(124, 124, 128);
    font-size: 24px;
    line-height: 36px;
  }
}
@media(max-width: 991px) {
  .home-hero {
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
  .home-mobile-menu {
    width: 308px;
    margin-left: 0px;
  }
  .home-navlink {
    color: #9af5ff;
    font-size: 30px;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .home-navlink01 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .home-navlink02 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .home-navlink03 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .home-navlink04 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .home-navlink05 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .home-navlink06 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .home-navlink07 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .home-hero-content {
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-text04 {
    color: #ffffff;
    font-size: 100px;
  }
  .home-caption1 {
    color: rgb(124, 124, 128);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
  }
  .home-content {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-objectives-list {
    padding-right: 0px;
  }
  .home-objective1 {
    flex: 1;
  }
  .home-objective2 {
    flex: 1;
  }
  .home-growth {
    flex-direction: column;
  }
  .home-image2 {
    margin-top: 0px;
    margin-bottom: 92px;
  }
  .home-heading1 {
    color: rgb(255, 255, 255);
  }
  .home-images {
    padding-top: 0px;
  }
  .home-growth1 {
    flex-direction: column;
  }
  .home-heading2 {
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
  }
  .home-images1 {
    padding-top: 0px;
  }
  .home-image3 {
    margin-top: 0px;
  }
  .home-experience {
    align-items: flex-start;
    flex-direction: column-reverse;
  }
  .home-container2 {
    width: 100%;
  }
  .home-card {
    width: 100%;
  }
  .home-content4 {
    border-top-width: 0px;
  }
  .home-main {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .home-branding1 {
    width: 100%;
  }
  .home-text25 {
    color: rgb(124, 124, 128);
    font-size: 14px;
    line-height: 21px;
  }
}
@media(max-width: 767px) {
  .home-video {
    top: 0px;
    right: 0px;
    position: absolute;
  }
  .home-burger-menu {
    display: flex;
  }
  .home-mobile-menu {
    width: 301px;
  }
  .home-navlink {
    color: #c2fffc;
    font-size: 30px;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .home-navlink01 {
    font-size: 30px;
    font-style: inherit;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .home-navlink02 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .home-navlink03 {
    font-family: Lato;
    line-height: 1;
    text-decoration: none;
  }
  .home-navlink04 {
    font-family: Lato;
    line-height: 1;
  }
  .home-navlink05 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .home-navlink06 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .home-navlink07 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .home-note {
    align-items: flex-start;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-caption1 {
    font-size: 18px;
    max-width: 90%;
    line-height: 23px;
    margin-right: 0px;
  }
  .home-get-started {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-heading {
    font-size: 36px;
    line-height: 42px;
  }
  .home-caption2 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-image1 {
    width: 300px;
  }
  .home-objectives {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-content {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-objectives-list {
    width: 100%;
    flex-direction: column;
  }
  .home-growth {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-image2 {
    width: 100%;
    margin-bottom: var(--dl-space-space-fiveunits3);
  }
  .home-content1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-header2 {
    gap: var(--dl-space-space-unit);
  }
  .home-heading1 {
    font-size: 40px;
  }
  .home-caption3 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-growth1 {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-content2 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-header4 {
    gap: var(--dl-space-space-unit);
  }
  .home-heading2 {
    font-size: 40px;
  }
  .home-caption4 {
    font-size: 16px;
    line-height: 24px;
  }
  .home-caption5 {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-image3 {
    width: 100%;
  }
  .home-experience {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-square {
    left: -20px;
    width: 20%;
    bottom: -20px;
  }
  .home-image4 {
    width: 100%;
  }
  .home-content3 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-header6 {
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-header-container2 {
    gap: var(--dl-space-space-unit);
  }
  .home-heading3 {
    font-size: 40px;
  }
  .home-container2 {
    margin-top: var(--dl-space-space-doubleunit);
  }
  .home-footer {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .home-video {
    height: 708px;
  }
  .home-branding {
    padding-top: var(--dl-space-space-unit);
  }
  .home-hamburger {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-icon {
    width: 30px;
  }
  .home-mobile-menu {
    width: 479px;
    padding: 16px;
    margin-left: 0px;
    background-color: rgba(0, 0, 0, 0.83);
  }
  .home-container1 {
    margin-bottom: 42px;
  }
  .home-navlink {
    color: #a5d5ff;
    font-family: Lato;
    line-height: 1;
  }
  .home-navlink01 {
    font-size: 30px;
    font-style: inherit;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .home-navlink02 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .home-navlink03 {
    font-family: Lato;
    line-height: 1;
  }
  .home-text02 {
    line-height: 1.5;
  }
  .home-navlink04 {
    font-family: Lato;
    line-height: 1;
  }
  .home-navlink05 {
    font-size: 30px;
    font-style: inherit;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .home-navlink06 {
    font-size: 30px;
    font-style: inherit;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .home-navlink07 {
    font-size: 30px;
    font-style: inherit;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .home-hero-content {
    gap: var(--dl-space-space-threeunits);
  }
  .home-caption {
    color: rgb(255, 255, 255);
    font-size: 30px;
    align-self: flex-start;
    line-height: 36px;
  }
  .home-navlink08 {
    text-align: center;
  }
  .home-caption1 {
    color: rgb(124, 124, 128);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
  }
  .home-image1 {
    height: 400px;
  }
  .home-text10 {
    font-size: 18px;
  }
  .home-text12 {
    font-size: 18px;
  }
  .home-text14 {
    font-size: 18px;
  }
  .home-image2 {
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-heading1 {
    font-size: 36px;
  }
  .home-heading2 {
    font-size: 36px;
  }
  .home-heading3 {
    color: rgb(255, 255, 255);
  }
  .home-bottom {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: center;
  }
}
