.secondary-button-container {
  display: flex;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}
.secondary-button-button {
  color: #000000;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
  transition: 0.3s;
  line-height: 1;
  padding-top: var(--dl-space-space-halfunit1);
  border-width: 0px;
  padding-left: var(--dl-space-space-unit1);
  padding-right: var(--dl-space-space-unit1);
  padding-bottom: var(--dl-space-space-halfunit1);
  text-transform: uppercase;
  background-color: #00aa41;
  -webkit-tap-highlight-color: transparent;
}
.secondary-button-button:hover {
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
}
.secondary-button-button:active {
  background-color: var(--dl-color-secondary-100);
}


.primary-button-container {
  display: flex;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}
.primary-button-button {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  line-height: 1;
  padding-top: var(--dl-space-space-halfunit1);
  border-width: 0px;
  padding-left: var(--dl-space-space-unit1);
  padding-right: var(--dl-space-space-unit1);
  padding-bottom: var(--dl-space-space-halfunit1);
  text-transform: uppercase;
  background-color: #4454ff;
  -webkit-tap-highlight-color: transparent;
}
.primary-button-button:hover {
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
}
.primary-button-button:active {
  background-color: var(--dl-color-pimary-300);
}

.secondary-button2-container {
  display: flex;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}
.secondary-button2-button {
  color: #000000;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
  transition: 0.3s;
  line-height: 1;
  padding-top: var(--dl-space-space-halfunit1);
  padding-left: var(--dl-space-space-unit1);
  padding-right: var(--dl-space-space-unit1);
  padding-bottom: var(--dl-space-space-halfunit1);
  text-transform: uppercase;
  background-color: #fe4164;
  -webkit-tap-highlight-color: transparent;
}
.secondary-button2-button:hover {
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
}
.secondary-button2-button:active {
  background-color: var(--dl-color-secondary-100);
}







.inv-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
.inv-hero {
  width: 100%;
  height: 557px;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #000000;
}
.inv-video {
  top: 0px;
  left: 0px;
  width: 100%;
  filter: opacity(0.6);
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.inv-navbar {
  width: 1596px;
  display: flex;
  z-index: 1000;
  position: relative;
  flex-wrap: wrap;
  max-width: var(--dl-size-size-maxwidth);
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
}
.inv-branding {
  width: 141px;
  height: 78px;
  object-fit: cover;
}
.inv-burger-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inv-hamburger {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
  background-color: #98c8ff;
  -webkit-tap-highlight-color: transparent;
}
.inv-hamburger:hover {
  opacity: .5;
}
.inv-icon {
  width: 60px;
  object-fit: cover;
}
.inv-mobile-menu {
  top: 0px;
  color: var(--dl-color-gray-white);
  right: -3px;
  width: 317px;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  backdrop-filter: blur(20px);
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.64);
}
.inv-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.inv-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  padding-right: 725px;
  justify-content: space-between;
}
.inv-image {
  height: 2rem;
}
.inv-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inv-icon1 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.inv-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.inv-navlink {
  color: #aae2ff;
  font-size: 30px;
  font-style: normal;
  font-family: Lato;
  font-weight: 700;
  line-height: 1;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.inv-navlink1 {
  color: #ff7474;
  font-size: 30px;
  font-style: normal;
  font-family: Lato;
  font-weight: 700;
  line-height: 1;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.inv-navlink2 {
  color: #ffffff;
  font-size: 30px;
  font-style: normal;
  font-family: Lato;
  font-weight: 700;
  line-height: 1;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.inv-navlink3 {
  font-size: 30px;
  font-style: normal;
  font-family: Lato;
  font-weight: 700;
  line-height: 1;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.inv-navlink4 {
  font-size: 30px;
  font-style: normal;
  font-family: Lato;
  font-weight: 700;
  line-height: 1;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.inv-navlink5 {
  font-size: 30px;
  font-style: normal;
  font-family: Lato;
  font-weight: 700;
  line-height: 1;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.inv-navlink6 {
  font-size: 30px;
  font-style: normal;
  font-family: Lato;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.inv-navlink7 {
  font-size: 30px;
  font-style: normal;
  font-family: Lato;
  font-weight: 700;
  line-height: 1;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.inv-hero-content {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.inv-header-container {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.inv-header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.inv-heading {
  color: rgb(255, 255, 255);
  font-size: 100px;
  max-width: 790px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-fourunits);
}
.inv-container02 {
  flex: 0 0 auto;
  width: 90%;
  display: flex;
  z-index: 100;
  max-width: 1320px;
  box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.04);
  margin-top: -12rem;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius75);
  margin-bottom: 287px;
  flex-direction: column;
  backdrop-filter: saturate(200%) blur(20px);
  background-color: rgba(39, 39, 39, 0.71);
}
.inv-container03 {
  width: 100%;
  height: 72px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-unit1);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit1);
  justify-content: space-around;
}
.inv-image1 {
  width: 150px;
  box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.04);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.inv-container04 {
  width: 100%;
  height: 231px;
  display: flex;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.inv-text06 {
  color: rgb(161, 182, 203);
}
.inv-container05 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.inv-text07 {
  color: var(--dl-color-secondary-500);
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit1);
}
.inv-container06 {
  width: 196px;
  height: 75px;
  display: flex;
  align-items: flex-start;
  padding-top: 19px;
  justify-content: center;
}
.inv-link {
  display: contents;
}
.inv-component {
  text-decoration: none;
}
.inv-link1 {
  display: contents;
}
.inv-component1 {
  text-decoration: none;
}
.inv-text08 {
  color: rgb(255, 255, 255);
  width: 75%;
  font-size: 1.125rem;
  text-align: center;
  font-weight: 300;
  line-height: 1.625;
  margin-bottom: var(--dl-space-space-unit1);
}
.inv-container07 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-unit1);
  flex-direction: row;
  justify-content: center;
}
.inv-container08 {
  flex: 0 0 auto;
  width: 90%;
  display: flex;
  z-index: 100;
  max-width: 1320px;
  box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.04);
  margin-top: -12rem;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius75);
  margin-bottom: 287px;
  flex-direction: column;
  backdrop-filter: saturate(200%) blur(20px);
  background-color: rgba(39, 39, 39, 0.71);
}
.inv-container09 {
  width: 100%;
  height: 72px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-unit1);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit1);
  justify-content: space-around;
}
.inv-image2 {
  width: 150px;
  box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.04);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.inv-container10 {
  width: 100%;
  height: 231px;
  display: flex;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.inv-text11 {
  color: rgb(161, 182, 203);
}
.inv-container11 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.inv-text12 {
  color: var(--dl-color-secondary-500);
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit1);
}
.inv-container12 {
  width: 196px;
  height: 75px;
  display: flex;
  align-items: flex-start;
  padding-top: 19px;
  justify-content: center;
}
.inv-link2 {
  display: contents;
}
.inv-component2 {
  text-decoration: none;
}
.inv-component3 {
  text-decoration: none;
}
.inv-text13 {
  color: rgb(255, 255, 255);
  width: 75%;
  font-size: 1.125rem;
  text-align: center;
  font-weight: 300;
  line-height: 1.625;
  margin-bottom: var(--dl-space-space-unit1);
}
.inv-container13 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-unit1);
  flex-direction: row;
  justify-content: center;
}
.inv-container14 {
  flex: 0 0 auto;
  width: 90%;
  display: flex;
  z-index: 100;
  max-width: 1320px;
  box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.04);
  margin-top: -12rem;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius75);
  margin-bottom: 287px;
  flex-direction: column;
  backdrop-filter: saturate(200%) blur(20px);
  background-color: rgba(39, 39, 39, 0.71);
}
.inv-container15 {
  width: 100%;
  height: 72px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-unit1);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit1);
  justify-content: space-around;
}
.inv-image3 {
  width: 150px;
  box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.04);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.inv-container16 {
  width: 100%;
  height: 231px;
  display: flex;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.inv-text16 {
  color: rgb(161, 182, 203);
}
.inv-container17 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.inv-text17 {
  color: var(--dl-color-secondary-500);
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit1);
}
.inv-container18 {
  width: 196px;
  height: 75px;
  display: flex;
  align-items: flex-start;
  padding-top: 19px;
  justify-content: center;
}
.inv-link3 {
  display: contents;
}
.inv-component4 {
  text-decoration: none;
}
.inv-link4 {
  display: contents;
}
.inv-component5 {
  text-decoration: none;
}
.inv-text18 {
  color: rgb(255, 255, 255);
  width: 75%;
  font-size: 1.125rem;
  text-align: center;
  font-weight: 300;
  line-height: 1.625;
  margin-bottom: var(--dl-space-space-unit1);
}
.inv-container19 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-unit1);
  flex-direction: row;
  justify-content: center;
}
.inv-container20 {
  flex: 0 0 auto;
  width: 90%;
  display: flex;
  z-index: 100;
  max-width: 1320px;
  box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.04);
  margin-top: -12rem;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius75);
  margin-bottom: 287px;
  flex-direction: column;
  background-color: #272727;
}
.inv-container21 {
  width: 100%;
  height: 72px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-unit1);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit1);
  justify-content: space-around;
}
.inv-image4 {
  width: 150px;
  box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.04);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.inv-container22 {
  width: 100%;
  height: 231px;
  display: flex;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.inv-text21 {
  color: rgb(161, 182, 203);
}
.inv-container23 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.inv-text22 {
  color: var(--dl-color-secondary-500);
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit1);
}
.inv-container24 {
  width: 196px;
  height: 75px;
  display: flex;
  align-items: flex-start;
  padding-top: 19px;
  justify-content: center;
}
.inv-link5 {
  display: contents;
}
.inv-component6 {
  text-decoration: none;
}
.inv-text23 {
  color: rgb(255, 255, 255);
  width: 75%;
  font-size: 1.125rem;
  text-align: center;
  font-weight: 300;
  line-height: 1.625;
  margin-bottom: var(--dl-space-space-unit1);
}
.inv-container25 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-unit1);
  flex-direction: row;
  justify-content: center;
}
.inv-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 5px 5px 10px 0px #2d2d2d;
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  background-color: #000000;
}
.inv-content {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 297px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  border-color: #313133;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  border-top-width: 1px;
}
.inv-main {
  gap: 240px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.inv-branding1 {
  gap: var(--dl-space-space-twounits);
  width: 400px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.inv-image5 {
  width: 120px;
  object-fit: cover;
}
.inv-bottom {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
@media(max-width: 1600px) {
  .inv-mobile-menu {
    border-radius: var(--dl-radius-radius-radius4);
  }
  .inv-navlink {
    color: #ffb0b0;
    font-style: normal;
    font-family: Lato;
    font-weight: 700;
    line-height: 1;
  }
  .inv-navlink1 {
    font-style: normal;
    font-family: Lato;
    font-weight: 700;
    line-height: 1;
  }
  .inv-navlink2 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 700;
  }
  .inv-navlink3 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 700;
    line-height: 1;
  }
  .inv-navlink4 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 700;
    line-height: 1;
  }
  .inv-navlink5 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 700;
    line-height: 1;
  }
  .inv-navlink6 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 700;
    line-height: 1;
  }
  .inv-navlink7 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 700;
    line-height: 1;
  }
}
@media(max-width: 1200px) {
  .inv-navlink {
    color: #a7fffc;
    font-style: normal;
    font-family: Lato;
    font-weight: 700;
    line-height: 1;
  }
  .inv-navlink1 {
    font-style: normal;
    font-family: Lato;
    font-weight: 700;
    line-height: 1;
  }
  .inv-navlink2 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 700;
    line-height: 1;
  }
  .inv-navlink3 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 700;
    line-height: 1;
  }
  .inv-navlink4 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 700;
    line-height: 1;
  }
  .inv-navlink5 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .inv-navlink6 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 700;
    line-height: 1;
  }
  .inv-navlink7 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 700;
    line-height: 1;
  }
}
@media(max-width: 991px) {
  .inv-hero {
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
  .inv-mobile-menu {
    width: 308px;
    margin-left: 0px;
  }
  .inv-navlink {
    color: #9af5ff;
    font-size: 30px;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .inv-navlink1 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .inv-navlink2 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .inv-navlink3 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .inv-navlink4 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .inv-navlink5 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .inv-navlink6 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .inv-navlink7 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .inv-hero-content {
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: 111px;
  }
  .inv-container03 {
    flex-direction: column;
  }
  .inv-container09 {
    flex-direction: column;
  }
  .inv-container15 {
    flex-direction: column;
  }
  .inv-container21 {
    flex-direction: column;
  }
  .inv-content {
    border-top-width: 0px;
  }
  .inv-main {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .inv-branding1 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .inv-burger-menu {
    display: flex;
  }
  .inv-mobile-menu {
    width: 301px;
  }
  .inv-navlink {
    color: #c2fffc;
    font-size: 30px;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .inv-navlink1 {
    font-size: 30px;
    font-style: inherit;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .inv-navlink2 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .inv-navlink3 {
    font-family: Lato;
    line-height: 1;
    text-decoration: none;
  }
  .inv-navlink4 {
    font-family: Lato;
    line-height: 1;
  }
  .inv-navlink5 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .inv-navlink6 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .inv-navlink7 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .inv-heading {
    font-size: 60px;
  }
  .inv-footer {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .inv-branding {
    padding-top: var(--dl-space-space-unit);
  }
  .inv-hamburger {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .inv-icon {
    width: 30px;
  }
  .inv-mobile-menu {
    width: 479px;
    padding: 16px;
    margin-left: 0px;
    background-color: rgba(0, 0, 0, 0.83);
  }
  .inv-container01 {
    margin-bottom: 42px;
  }
  .inv-navlink {
    color: #a5d5ff;
    font-family: Lato;
    line-height: 1;
  }
  .inv-navlink1 {
    font-size: 30px;
    font-style: inherit;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .inv-navlink2 {
    font-size: 30px;
    font-style: normal;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .inv-navlink3 {
    font-family: Lato;
    line-height: 1;
  }
  .inv-text02 {
    line-height: 1.5;
  }
  .inv-navlink4 {
    font-family: Lato;
    line-height: 1;
  }
  .inv-navlink5 {
    font-size: 30px;
    font-style: inherit;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .inv-navlink6 {
    font-size: 30px;
    font-style: inherit;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .inv-navlink7 {
    font-size: 30px;
    font-style: inherit;
    font-family: Lato;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
  }
  .inv-hero-content {
    gap: var(--dl-space-space-threeunits);
  }
  .inv-heading {
    font-size: 36px;
  }
  .inv-container02 {
    height: 387px;
  }
  .inv-container08 {
    height: 387px;
  }
  .inv-container14 {
    height: 387px;
  }
  .inv-container20 {
    height: 387px;
  }
  .inv-bottom {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: center;
  }
}
