<div>
  <link href="./footer.css" rel="stylesheet" />
  <div class="footer-container">
    <div class="footer-container01">
      <div class="footer-container02">
        <h1 class="footer-text">Ikuti Kami!</h1>
        <div class="footer-container03">
          <div class="footer-container04">
            <img
              alt="image"
              src="https://play.teleporthq.io/static/svg/default-img.svg"
              class="footer-image"
            />
          </div>
          <a
            href="https://instagram.com/mcinfo_id"
            target="_blank"
            rel="noreferrer noopener"
            class="footer-link"
          >
            <div class="footer-container05">
              <img
                alt="image"
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                class="footer-image1"
              />
            </div>
          </a>
          <a
            href="https://discord.gg/Rb5yyGSEVv"
            target="_blank"
            rel="noreferrer noopener"
            class="footer-link1"
          >
            <div class="footer-container06">
              <img
                alt="image"
                src="https://play.teleporthq.io/static/svg/default-img.svg"
                class="footer-image2"
              />
            </div>
          </a>
        </div>
      </div>
      <div class="footer-container07">
        <div class="footer-container08">
          <span class="footer-text1 TextXS">Lainnya</span>
          <a
            href="https://chat.whatsapp.com/FXpK9in3XebGkLTBtazree"
            target="_blank"
            rel="noreferrer noopener"
            class="footer-link2 TextSM"
          >
            Whatsapp Community
          </a>
          <a
            href="https://discord.gg/Rb5yyGSEVv"
            target="_blank"
            rel="noreferrer noopener"
            class="footer-link3 TextSM"
          >
            Discord
          </a>
          <a
            href="https://instagram.com/mcinfo_id"
            target="_blank"
            rel="noreferrer noopener"
            class="footer-link4 TextSM"
          >
            Instagram
          </a>
          <span class="footer-text2 TextSM">Home</span>
        </div>
      </div>
    </div>
    <div class="footer-container09"></div>
    <span class="footer-text3">
      <span class="footer-text4 TextSM">
        Copyright © 2023-2024 NuxtCommunity&amp;NutxTeam
      </span>
      <br />
      <span>NutxCommunity Is Not Associated To Mojang AB</span>
      <br />
    </span>
  </div>
</div>
